body {width: 900px;height:100%;box-sizing: border-box;border:5px solid;margin: auto;}
#header {border-bottom:5px solid ;}
h3 {margin:auto;padding-left: 5px;}
#banner {background-color:blue;width:850px;height:100px;margin:auto;border:5px solid;margin-top: 30px;}
#content {width:850px; margin:auto;display: flex;justify-content: space-between;margin-top: 30px;}
#box1 {width:250px;height: 250px;background-color: rgb(42, 97, 122);border: 5px solid;}
#box2 {width:250px;height: 250px;background-color: tomato;border: 5px solid;}
#box3 {width:250px;height: 250px;background-color: rgb(106, 204, 106);border: 5px solid;}
#content2 {width:850px; margin:auto;display: flex;justify-content: space-between;margin-top: 30px;margin-bottom: 30px;}
#box4 {width:250px;height: 250px;background-color: rgb(42, 97, 122);border: 5px solid;}
#box5 {width:250px;height: 250px;background-color: tomato;border: 5px solid;}
#box6 {width:250px;height: 250px;background-color: rgb(106, 204, 106);border: 5px solid;}